* {
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    padding: 10px;
}